.app-header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-image:linear-gradient(teal, white) ;
    padding: 10px;
    >* {
        display: flex;
        align-items: center;
    }
    a {
        width: 150px;
        &.active {
            color: rgb(107, 105, 105);
        }
    }
}