.stats-page {
    .coins-info {
        display: flex;
        padding: 7px;
        justify-content: space-between;
        margin: 20px 20px 100px 20px;
        >* {
            >* {
                margin-bottom: 15px;
            }
            p {
                padding: 0 30px;
            }
        }
        .tag {
            background-color: green;
            border-radius: 5px;
            margin: 2px;
            padding: 1px 5px;
            font-size: 14px;
        }
    }
}