<section class="contact-edit">
    <a [routerLink]="'/contact'">Back</a>
    <form (ngSubmit)="onSaveContact()" *ngIf="contact">
        <label for="name">Name:
            <input type="text" [(ngModel)]="contact.name" name="name" id="name">
        </label>
        <label for="phone">Phone:
            <input type="phone" [(ngModel)]="contact.phone" name="phone" id="phone">
        </label>
        <label for="email">Email:
            <input type="email" [(ngModel)]="contact.email" name="email" id="email">
        </label>
        <button>Save</button>
    </form>
</section>