<section class="contact-details">
  <nav>
    <a class="back-btn" [routerLink]="'/contact'">Back</a>
    <a [routerLink]="[ '','contact','edit', contact._id]">Edit</a>
  </nav>
  <main>
    <div class="contact-container">
      <h1>{{contact.name}}</h1>
      <img src="https://robohash.org/{{contact._id}}?set=set2" alt="">
      <h5>{{contact.email}}</h5>
      <h5>{{contact.phone}}</h5>
    </div>
    <div>
      <transfer-fund [contactName]="contact.name" (onTransfer)="transfer($event)"></transfer-fund>
      <moves-list [moves]="getContactFromUserMoves()"></moves-list>
    </div>
  </main>
</section>